.headLeft {
	display: flex;
	justify-content: center;
	align-items: center;
}

.headRight {
	display: flex;
	justify-content: center;
	align-items: center;
}

.headRight p {
	margin-left: 20px;
	color: #012d5e;
	font-size: 1.3em;
}

.headRight p span {
	color: #fcd95e;
	margin-left: 10px;
	font-size: 1.6em;
	-webkit-text-stroke: 1px #012d5e;
}

@media (max-width: 600px) {
	.headRight {
		flex-direction: column;
		align-items: flex-end;
	}
	.headRight p {
		font-size: 1em;
	}
	.headRight p span {
		font-size: 1.2em;
	}
}

@media (max-width: 480px) {
	.headLeft img {
		width: 45px;
		height: 45px;
	}
}

.typeBox {
	padding: 40px 4%;
	width: 100%;
	min-height: calc(90vh - 180px);
	margin: 0 auto 3vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background: #fff;
	border-radius: 4px;
}

.message {
	color: #012d5e;
	font-weight: 600;
	margin-bottom: 2vh;
	font-size: 1.3em;
}

.currentWord {
	color: #fcd95e;
	margin-top: 2vh;
	margin-bottom: 2vh;
	font-size: 4em;
	font-weight: bold;
	-webkit-text-stroke: 1px #012d5e;
}

@media (max-width: 600px) {
	.currentWord {
		font-size: 2em;
	}
}

.btnBox {
	display: flex;
	justify-content: center;
}

@media (max-width: 600px) {
	.btnBox {
		flex-direction: column;
	}
}

.startGameBtn, .resetGameBtn {
	margin-top: 3vh;
	font-weight: 500;
    box-shadow: 0px 11px 15px -4px #cfcece;
}